.destinations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.8rem;
}

.destination-item {
    background: #f1f0f0;
    border: 0px solid #ddd;
    border-radius: 20px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
}

.destination-item:hover{
    transform: scale(1.05);
}

.destination-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.destination-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.destination-item p {
    font-size: 1rem;
    color: #666;
    margin: 4%;
}

main{
    background-image: url(/blog/images/nature2.jpg);
}